# ########
# GRADLE #
# ########
.gradle
/local.properties
build

# ###############
# IntelliJ IDEA #
# ###############
.idea
classes
*.iml
gen-external-apklibs
out/

# #########
# Eclipse #
# #########
.settings
.classpath
.project
gen
bin

# #######
# Maven #
# #######
target

# ##########
# Calabash #
# ##########
test_servers
reports.html
screenshot_*.png

# ###############
# Android Tools #
# ###############
**/project.properties
*.sqlite
.DS_Store
/*.png
